/* Theme custom style and overrides  */
.hide {
  display: none;
}
.title {
  font-size: 16px;
}
.header-message {
  margin: 0 0 0 10px;
}
.window-content {
  padding: 10px 20px 10px 20px;
}
#exportBtn {
  margin-bottom: 20px;
}
.message {
  padding: 10px 2px 10px 2px;
  margin: 0 0 10px 0;
  background-color: #F5F5F5;
  text-align: center;
}
